*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
    flex-direction: row;
}
.flex-reverse{
    flex-direction: row-reverse;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.justify{
    justify-content: space-between;
}
header{
    padding: 10px 0px;
    background-color: #ff6900;
    margin-bottom: 40px;
}
.head-container{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    align-items: center;
}
ul{
    text-align: center;
    list-style: none;
    color: white;
    font-family: 'Cabin', sans-serif;
}
li{
    margin: 0 0.5rem;
}
.size-img{
    width: 15%;
}
.size-icon{
    width: 16%;
    margin-left: 5px;
}
.riga-container{
    width: 69%;
    margin: 0 auto;
    height: 500px;
    background-color: #ff6900;
    justify-content:space-between;
}
.column{
    height: 100%;
    width: 32%;
    background-color: blue;
}
.card-top{
    position: relative;
    width: 100%;
    height: 90%;
    background-color: yellow;
}
.heart{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: azure;
}
.card-bottom{
    width: 100%;
    height: 10%;
    background-color: green;
}