*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
    flex-direction: row;
}
.justify{
    justify-content: space-between;
}
header{
    height: 100px;
    background-color: orange;
}
.head-container{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    align-items: center;
}
.menu{
    height: 50%;
    width: calc(100% / 5);
    background-color: aqua;
}
ul{
    list-style: none;
    color: white;
    font-family: 'Cabin', sans-serif;
}
.logo{
    height: 50%;
    width: calc(100% / 5);
    background-color: black;
}
.icon{
    height: 50%;;
    width: calc(100% / 5);
    background-color: brown;
}